* {
  margin: 0;
  padding: 0;
}

/* 
  Container has 2 columns: 1fr 4fr 
  Sidebar has 3 rows: 100px 1fr 1fr
  Header has 2 rows: 1fr 1fr
    On header 2nd row, "hi there, [name]" is another grid of 2 rows: 1fr 1fr
  Main Content has 2 columns: 2fr 1fr
    Each card in main content has 2 rows: 1fr 1fr
*/

/* body {
  height: 100vh;
} */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* height: 100%; */
  column-gap: 30px;
}

.sidebar {
  display: grid;
  grid-template-rows: 75px 0.75fr 1fr;
  align-items: center;
  grid-row: 1 / 3;
  background-color: #0ea5e9;
}

.nav-top-section,
.nav-bottom-section {
  align-self: start;
}

.logo,
.nav-top-section ul li,
.nav-bottom-section ul li {
  /* border: 1px solid black; */
  margin: 20px;
  list-style: none;
}

.main-icon,
.sub-icon,
.text {
  vertical-align: middle;
}

.main-icon,
.sub-icon {
  padding-right: 16px;
}

.main-icon svg {
  width: 30px;
  height: 30px;
}

.sub-icon svg {
  width: 24px;
  height: 24px;
}

.logo,
.nav-top-section ul li a,
.nav-bottom-section ul li a {
  text-decoration: none;
  color: #fbf7f4;
  font-weight: bold;
  font-size: 1.25rem;
}

/* --------------- HEADER STYLING --------------- */

.header {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
  margin-top: 20px;
}

input[type="search"] {
  appearance: none;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #eee;
  width: 600px;
  height: 1.5rem;
  outline: none;
  padding: 0.75rem;
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.header-top-half {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.user-panel-top {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

.user-panel-top > * {
  padding-right: 1rem;
}

.user-panel-top img {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: auto;
}

.user-panel-bottom {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
}

.user-greeting {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* --------------- MAIN CONTENT STYLING --------------- */

/*
  Main Content has 2 columns: 2fr 1fr
    Each card in main content has 2 rows: 1fr 1fr
*/

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.trending {
  grid-column: 2 / 3;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 / 3;
}

.projects > p {
  grid-column: 1 / 3;
}
