* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px auto;
  height: 100vh;
}

/* --------------- SIDEBAR STYLING --------------- */

.sidebar {
  display: grid;
  grid-template-rows: 75px 0.75fr clamp(900px, 50%, 1000px);
  align-items: center;
  grid-row: 1 / 3;
  background-color: #0ea5e9;
}

.nav-top-section,
.nav-bottom-section {
  align-self: start;
}

.logo,
.nav-top-section ul li,
.nav-bottom-section ul li {
  margin: 20px;
  list-style: none;
}

.main-icon,
.sub-icon,
.text {
  vertical-align: middle;
}

.main-icon,
.sub-icon {
  padding-right: 16px;
}

.main-icon svg {
  width: 30px;
  height: 30px;
}

.sub-icon svg {
  width: 24px;
  height: 24px;
}

.logo,
.nav-top-section ul li a,
.nav-bottom-section ul li a {
  text-decoration: none;
  color: #fbf7f4;
  font-weight: bold;
  font-size: 1.25rem;
}

/* --------------- HEADER STYLING --------------- */

.header {
  display: grid;
  grid-template-rows: 75px 75px;
  align-items: center;
  box-shadow: 0 3px 20px -10px black;
  justify-content: space-evenly;
}

input[type="search"] {
  appearance: none;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #eee;
  width: 600px;
  height: 1.5rem;
  outline: none;
  padding: 0.75rem;
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.header-top-half {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.user-panel-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-items: end;
  column-gap: 20px;
}

.user-panel-top .sub-icon {
  padding-right: 0;
}

.user-panel-top img {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: auto;
}

.user-panel-top p {
  font-weight: bold;
}

.user-panel-bottom {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  align-items: center;
  column-gap: 10px;
}

.user-greeting p {
  font-weight: bold;
}

.user-greeting .user-greeting-top {
  font-size: 0.75rem;
}

.user-greeting .user-greeting-bottom {
  font-size: 1.1rem;
}

.user-panel-bottom img {
  height: 45px;
}

.user-panel-bottom .buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  justify-self: end;
  column-gap: 20px;
}

.user-panel-bottom .buttons button {
  background-color: #0ea5e9;
  color: #fbf7f4;
  border-radius: 20px;
  border: 1px solid #0ea5e9;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
}

.user-greeting {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* --------------- MAIN CONTENT STYLING --------------- */

.main-content {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 50px;
  grid-template-rows: 50px 1fr 50px 1fr;
  background: #eee;
}

[class^="content-header"] {
  font-weight: 500;
  align-self: end;
  padding-bottom: 10px;
}

.content-header-trending,
.content-header-announcements,
.trending,
.announcements {
  grid-column: 3 / 4;
}

.content-header-trending {
  grid-row: 3 / 4;
}

.content-header-projects,
.projects {
  grid-column: 2 / 3;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2 / 5;
  gap: 1rem;
  margin-right: 20px;
}

.announcements {
  grid-row: 2 / 3;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  align-content: space-between;
  grid-template-rows: repeat(auto-fit, minmax(100px, 125px));
  /* grid-template-rows: repeat(3, clamp(100px, 20%, 125px)); */
}

.announcement-card .announcement-title {
  font-weight: 700;
  padding-bottom: 5px;
}

.announcement-card .announcement-description {
  color: #888;
}

.announcement-card .announcement-description,
.project-card .project-description,
.trending .user .user-title {
  font-weight: 300;
  color: #888;
}

.announcement-card {
  border-bottom: 1px solid #bbb;
  margin: 5px 0;
}

.announcement-card:last-of-type {
  border-bottom: none;
}

.trending {
  grid-row: 4 / 5;
}

.project-card {
  display: grid;
  background: white;
  border-radius: 10px;
  grid-template-rows: auto 50px;
  padding: 40px 20px 20px;
  border-left: 10px solid orange;
}

.project-card .project-title {
  font-weight: 700;
  padding-bottom: 5px;
}

.project-card .card-bottom {
  justify-self: right;
  align-self: center;
}

.project-card .card-bottom .sub-icon {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.5rem;
}

.trending {
  display: grid;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.trending .trending-entry {
  display: grid;
  grid-template-columns: 75px auto;
  align-content: center;
}

.trending-entry img {
  display: inline-block;
  /* vertical-align: middle; */
  height: 50px;
  width: auto;
}

.trending-entry .user {
  align-self: center;
}

.attribution {
  grid-row: 5;
  grid-column: 1 / 5;
  justify-self: center;
  padding: 1rem 0;
}

.attribution a {
  text-decoration: none;
}
